.lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.game-menu {
  padding: 3em;
}

.title {
  margin-top: 1em;
}
